html {
  --main-color: #FFFB83;
  --sub-color: #002329;
}
body {
  background-color: #011619;
  background-image: url("background.jpg");
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 30px;
  padding-right: 30px;
  word-break: keep-all;
}
img {
  display: block;
}
h1 img {
  margin-left: auto;
  margin-right: auto;
}
h2 {
  font-weight: bold;
  font-size: 60px;
  color: var(--main-color);
  text-align: center;
}
h3 {
  font-size: 40px;
  text-shadow: 0 0 10px var(--sub-color);
  text-align: center;
  color: aqua;
}
h4 {
  font-size: 40px;
  text-shadow: 0 0 10px var(--sub-color);
  text-align: center;
  color: black;
  margin-bottom: -20px;
}
.quiz {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
.quiz p {
  font-size: 32px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.sungkyu h4 {
  color: aqua;
}
.sungkyu .quiz p {
  color: white;
  background-color: skyblue;
  border-radius: 100px;
}
.yumi h4 {
  color: beige;
}
.yumi .quiz p {
  color: rgb(13, 185, 162);
  background-color: rgb(249, 247, 247);
  border-radius: 30px;
}
.button {
  display: block;
  max-width: 500px;
  color: black;
  background-color: var(--main-color);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 200px;
  font-weight: bold;
  font-size: 40px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
  transition: 0.4s;
}
.button:hover {
  background-color: blue;
  color: red;
}

@media (max-width: 1000px) {
  body {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
  h1 img {
    width: 100%;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  h3 br {
    display: none;
  }
  .sungkyu h4,
  .yumi h4 {
    font-size: 30px;
    margin-bottom: 6px;
  }
  .quiz {
    gap: 0;
  }
  .quiz img {
    width: 170px;
    margin-left: -12px;
  }
  .quiz p {
    font-size: 22px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .button {
    font-size: 30px;
  }
}

@media (max-width: 640px) {
  .quiz img {
    width: 120px;
    margin-right: -50px;
    position: relative;
  }
  .quiz p {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 20px;
  }
}